backend/instance/*

.DS_Store
node_modules
dist
**/__pycache__
/.backup
**/venv
.VSCodeCounter/**

web/public/students.txt
web/src/apis/types/enums.ts
web/src/apis/types/structs.ts
web/src/apis/fApi.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

report.txt
log.txt
tmp.*
statitic.py
apis.md
config.hy

.clj-kondo
.lsp
.pylintrc