backend/instance/*

.DS_Store
node_modules
dist
**/__pycache__
/.backup
**/venv

web/public/students.txt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

report.txt
log.txt
tmp.*
statitic.py