<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cabal" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="gh" />
  <package id="ghc" />
  <package id="idris" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="neovim" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
</packages>