@import "./base.css";

@import "lxgw-wenkai-lite-webfont/style.css";

.v-card {
  margin-bottom: 0.5em;
}

.swal2-container {
  z-index: 10000 !important;
}
body {
  font-family: "LXGW WenKai Lite", sans-serif;
  font-size: larger;
}
pre,
code {
  font-family: "LXGW WenKai Mono Lite", sans-serif;
}

.v-card-title {
  border-bottom: 2px solid rgb(var(--v-theme-color4));
  margin-bottom: 10px;
}

.v-card-actions > button {
  border: solid 1px currentColor;
}

button[type="submit"] {
  border: solid 1px currentColor;
}

.v-card {
  border: 1px solid rgb(var(--v-theme-color1)) !important;
}

/* .v-navigation-drawer--left {
  border-right-color: rgb(var(--v-theme-color4));
} */

.v-main {
  padding-left: 13% !important;
}

.v-container {
  max-width: unset !important;
}

.bg-primary[type="submit"] {
  background: unset !important;
  border: rgb(var(--v-theme-color3)) solid 1px !important;
  color: black !important;
  font-weight: bolder;
  font-size: larger;
}
